# Predict Bike Demand in Montreal Using Neural Network using LSTM

#### We have specifically decided to focus on the BIXI bike sharing system in Montreal, Canada, as it is the second largest bike sharing system in North America. Also, extensive datasets can be easily acquired on their website: https://montreal.bixi.com/en

#### Dataset: We have used one-month worth of data  - July 2017 - to make predictions for the next month 
### Goals: 
1. Define two new parameters - net gain and cluster gain
2. Make predictions on the level of occupancy of the stations (ie. how many bikes are station X at time Y and date Z)

### Steps:
1. Data Preprocesing
2. Clustering
3. Define Station Gain
4. Define Cluster Gain
5. Run DNN, RNN and LSTM models
6. Optimize the models in Step 5

## Data Preprocessing

In [1]:
import dask.dataframe as dd
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import folium
import gpxpy.geo
from datetime import datetime
import time
import seaborn as sns
import os
import math
import xgboost as xgb
import matplotlib
matplotlib.use('nbagg')
from sklearn import preprocessing
from sklearn.model_selection import GridSearchCV, train_test_split
#from sklearn.grid_search import GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.cluster import MiniBatchKMeans, KMeans
import warnings
warnings.simplefilter('ignore')
from sklearn.svm import SVC
#HAD TO USE SVR - Support Vector Regression bc SVC doesn't support continuous values
from sklearn.svm import SVR
from sklearn import metrics

In [2]:
new_frame = dd.read_csv("Stations_2019.csv")

In [3]:
new_frame.head()

    Code                                    name   latitude  longitude
0  10002  Métro Charlevoix (Centre / Charlevoix)  45.478228 -73.569651
1   4000                  Jeanne-d'Arc / Ontario  45.549598 -73.541874
2   4001                     Graham / Brookfield  45.520075 -73.629776
3   4002                      Graham / Wicksteed  45.516937 -73.640483
4   5002                St-Charles / Montarville  45.533682 -73.515261

## Clustering

In [4]:
montreal_boundaries = new_frame[(new_frame.latitude <= 45.5017) & (new_frame.longitude <= -73.5673 )]

In [5]:
#clustering
coord = montreal_boundaries[["latitude", "longitude"]].values
neighbors = []

def min_distance(regionCenters, totalClusters):
    good_points = 0
    bad_points = 0
    less_dist = []
    more_dist = []
    min_distance = 100000  #any big number can be given here
    for i in range(totalClusters):
        good_points = 0
        bad_points = 0
        for j in range(totalClusters):
            if j != i:
                distance = gpxpy.geo.haversine_distance(latitude_1 = regionCenters[i][0], longitude_1 = regionCenters[i][1], latitude_2 = regionCenters[j][0], longitude_2 = regionCenters[j][1])
                #you can check the documentation of above "gpxpy.geo.haversine_distance" at "https://github.com/tkrajina/gpxpy/blob/master/gpxpy/geo.py"
                #"gpxpy.geo.haversine_distance" gives distance between two latitudes and longitudes in meters. So, we have to convert it into miles.
                distance = distance/(1.60934*1000)   #distance from meters to miles
                min_distance = min(min_distance, distance) #it will return minimum of "min_distance, distance".
                if distance < 2:
                    good_points += 1
                else:
                    bad_points += 1
        less_dist.append(good_points)
        more_dist.append(bad_points)
    print("On choosing a cluster size of {}".format(totalClusters))
    print("Avg. Number clusters within vicinity where inter cluster distance < 2 miles is {}".format(np.ceil(sum(less_dist)/len(less_dist))))
    print("Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is {}".format(np.ceil(sum(more_dist)/len(more_dist))))
    print("Minimum distance between any two clusters = {}".format(min_distance))
    print("-"*10)
            
def makingRegions(noOfRegions):
    regions = MiniBatchKMeans(n_clusters = noOfRegions, batch_size = 10000).fit(coord)
    regionCenters = regions.cluster_centers_ 
    totalClusters = len(regionCenters)
    return regionCenters, totalClusters

In [6]:
startTime = datetime.now()
for i in range(10, 100, 10):
    regionCenters, totalClusters = makingRegions(i)
    min_distance(regionCenters, totalClusters)
print("Time taken = "+str(datetime.now() - startTime))

On choosing a cluster size of 10
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 3.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 7.0
Minimum distance between any two clusters = 0.9661826309055204
----------
On choosing a cluster size of 20
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 5.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 15.0
Minimum distance between any two clusters = 0.34593524207718
----------
On choosing a cluster size of 30
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 8.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 22.0
Minimum distance between any two clusters = 0.3789738029262929
----------
On choosing a cluster size of 40
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 12.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 28.0
Minimum distance between any two clusters = 0.26620036533168
----------
On choosing a cluster size of 50
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 16.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 34.0
Minimum distance between any two clusters = 0.23040417505020458
----------
On choosing a cluster size of 60
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 21.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 39.0
Minimum distance between any two clusters = 0.1875884491710632
----------
On choosing a cluster size of 70
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 25.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 45.0
Minimum distance between any two clusters = 0.14914194000399938
----------
On choosing a cluster size of 80
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 29.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 51.0
Minimum distance between any two clusters = 0.15836886519176066
----------
On choosing a cluster size of 90
Avg. Number clusters within vicinity where inter cluster distance < 2 miles is 33.0
Avg. Number clusters outside of vicinity where inter cluster distance > 2 miles is 57.0
Minimum distance between any two clusters = 0.15402765429595153
----------
Time taken = 0:00:03.502676

In [7]:
#Mini Batch K-means model
coord = montreal_boundaries[["latitude", "longitude"]].values
print(coord)
regions = MiniBatchKMeans(n_clusters = 30, batch_size = 100000).fit(coord)

dask.array<values, shape=(nan, 2), dtype=float64, chunksize=(nan, 2), chunktype=numpy.ndarray>

In [8]:
NewFrame = new_frame[['latitude','longitude', 'Code']].compute()
NewFrame["pickup_cluster"] = regions.predict(NewFrame[["latitude", "longitude"]])

In [9]:
print(NewFrame.head())
print (NewFrame.shape)

    latitude  longitude   Code  pickup_cluster
0  45.478228 -73.569651  10002              25
1  45.549598 -73.541874   4000               8
2  45.520075 -73.629776   4001               1
3  45.516937 -73.640483   4002               1
4  45.533682 -73.515261   5002               8
(615, 4)

In [10]:
NewFrame = NewFrame.sort_values(by=['pickup_cluster'])

In [11]:
mydict = dict(zip(NewFrame.Code, NewFrame.pickup_cluster))
mydict

{6436: 0,
 6093: 0,
 6433: 0,
 6432: 0,
 6194: 0,
 6410: 1,
 6737: 1,
 7004: 1,
 6312: 1,
 6323: 1,
 7064: 1,
 6324: 1,
 6330: 1,
 6331: 1,
 6332: 1,
 6333: 1,
 7148: 1,
 7001: 1,
 7063: 1,
 6412: 1,
 7007: 1,
 6419: 1,
 6240: 1,
 4001: 1,
 6125: 1,
 7099: 1,
 4002: 1,
 6423: 1,
 6717: 1,
 6754: 2,
 7051: 2,
 6744: 2,
 6742: 2,
 6725: 2,
 7048: 2,
 7111: 3,
 6719: 4,
 6369: 4,
 6705: 5,
 6709: 5,
 6707: 5,
 6435: 6,
 6080: 6,
 6434: 6,
 6101: 7,
 6339: 7,
 6356: 7,
 6383: 8,
 6381: 8,
 6386: 8,
 6380: 8,
 6376: 8,
 6384: 8,
 6385: 8,
 6417: 8,
 6388: 8,
 6391: 8,
 6424: 8,
 6393: 8,
 6394: 8,
 6395: 8,
 6396: 8,
 6397: 8,
 6398: 8,
 6411: 8,
 6413: 8,
 6387: 8,
 6421: 8,
 6346: 8,
 6373: 8,
 6264: 8,
 6261: 8,
 6260: 8,
 6259: 8,
 6258: 8,
 6248: 8,
 6237: 8,
 6236: 8,
 6229: 8,
 6226: 8,
 6221: 8,
 6220: 8,
 6219: 8,
 6218: 8,
 6217: 8,
 6216: 8,
 6215: 8,
 6214: 8,
 6213: 8,
 6265: 8,
 6374: 8,
 6266: 8,
 6269: 8,
 6372: 8,
 6371: 8,
 6370: 8,
 6368: 8,
 6367: 8,
 6364: 8,
 6362: 8,
 6360: 8,
 6359: 8,
 6358: 8,
 6357: 8,
 6355: 8,
 6314: 8,
 6307: 8,
 6281: 8,
 6278: 8,
 6277: 8,
 6274: 8,
 6271: 8,
 6267: 8,
 6361: 8,
 6713: 8,
 6502: 8,
 7080: 8,
 7079: 8,
 7078: 8,
 7077: 8,
 7075: 8,
 7074: 8,
 7073: 8,
 7072: 8,
 7081: 8,
 7069: 8,
 7066: 8,
 7062: 8,
 7047: 8,
 7046: 8,
 7044: 8,
 7043: 8,
 7041: 8,
 7039: 8,
 7067: 8,
 7083: 8,
 7084: 8,
 7085: 8,
 7146: 8,
 7139: 8,
 7138: 8,
 7137: 8,
 7126: 8,
 7125: 8,
 7121: 8,
 7120: 8,
 7119: 8,
 7118: 8,
 7117: 8,
 7116: 8,
 7115: 8,
 7098: 8,
 7097: 8,
 7089: 8,
 7088: 8,
 7087: 8,
 7086: 8,
 7038: 8,
 6501: 8,
 7037: 8,
 7033: 8,
 6750: 8,
 6749: 8,
 6739: 8,
 6738: 8,
 6731: 8,
 6730: 8,
 6729: 8,
 6723: 8,
 6753: 8,
 6722: 8,
 6720: 8,
 6212: 8,
 6704: 8,
 6703: 8,
 6702: 8,
 6701: 8,
 6700: 8,
 6504: 8,
 6721: 8,
 6901: 8,
 6902: 8,
 6903: 8,
 7032: 8,
 7031: 8,
 7030: 8,
 7029: 8,
 7027: 8,
 7024: 8,
 7020: 8,
 7018: 8,
 7017: 8,
 7016: 8,
 7012: 8,
 7011: 8,
 7009: 8,
 6929: 8,
 6926: 8,
 6919: 8,
 6918: 8,
 6916: 8,
 6905: 8,
 7035: 8,
 6211: 8,
 7149: 8,
 6209: 8,
 6116: 8,
 6114: 8,
 6113: 8,
 6112: 8,
 6111: 8,
 6110: 8,
 6109: 8,
 6108: 8,
 6106: 8,
 6105: 8,
 6104: 8,
 6103: 8,
 6117: 8,
 6096: 8,
 6090: 8,
 6087: 8,
 6085: 8,
 6084: 8,
 6083: 8,
 6082: 8,
 6079: 8,
 6078: 8,
 6076: 8,
 6075: 8,
 6073: 8,
 6072: 8,
 6092: 8,
 6118: 8,
 6119: 8,
 6120: 8,
 6151: 8,
 6150: 8,
 6149: 8,
 6148: 8,
 6147: 8,
 6146: 8,
 6145: 8,
 6143: 8,
 6142: 8,
 6141: 8,
 6140: 8,
 6139: 8,
 6138: 8,
 6137: 8,
 6136: 8,
 6134: 8,
 6133: 8,
 6132: 8,
 6131: 8,
 6130: 8,
 6129: 8,
 6128: 8,
 6126: 8,
 6124: 8,
 6123: 8,
 6122: 8,
 6121: 8,
 6070: 8,
 6152: 8,
 6067: 8,
 6063: 8,
 6022: 8,
 6021: 8,
 6020: 8,
 6019: 8,
 6018: 8,
 6017: 8,
 6015: 8,
 6014: 8,
 6013: 8,
 6012: 8,
 6011: 8,
 6008: 8,
 6023: 8,
 6007: 8,
 6005: 8,
 6004: 8,
 6003: 8,
 6002: 8,
 6001: 8,
 5007: 8,
 5006: 8,
 5005: 8,
 5004: 8,
 5003: 8,
 5002: 8,
 4000: 8,
 6006: 8,
 6024: 8,
 6025: 8,
 6026: 8,
 6062: 8,
 6061: 8,
 6060: 8,
 6059: 8,
 6058: 8,
 6057: 8,
 6053: 8,
 6052: 8,
 6050: 8,
 6049: 8,
 6048: 8,
 6047: 8,
 6046: 8,
 6044: 8,
 6043: 8,
 6042: 8,
 6041: 8,
 6040: 8,
 6039: 8,
 6038: 8,
 6037: 8,
 6036: 8,
 6035: 8,
 6033: 8,
 6032: 8,
 6031: 8,
 6027: 8,
 6064: 8,
 6153: 8,
 6099: 8,
 6155: 8,
 6186: 8,
 6177: 8,
 6167: 8,
 6184: 8,
 6183: 8,
 6197: 8,
 6169: 8,
 6170: 8,
 6171: 8,
 6182: 8,
 6187: 8,
 6179: 8,
 6174: 8,
 6204: 8,
 6203: 8,
 6175: 8,
 6181: 8,
 6180: 8,
 6202: 8,
 6201: 8,
 6192: 8,
 6176: 8,
 6173: 8,
 6178: 8,
 6154: 8,
 6164: 8,
 6157: 8,
 6163: 8,
 6207: 8,
 6156: 8,
 6161: 8,
 6160: 8,
 6206: 8,
 6190: 8,
 6188: 8,
 6166: 8,
 6208: 8,
 6159: 8,
 6158: 8,
 6205: 8,
 6165: 8,
 7105: 9,
 6409: 10,
 6408: 10,
 6407: 10,
 7140: 10,
 6405: 10,
 6404: 10,
 7112: 11,
 7109: 11,
 7060: 12,
 7142: 12,
 6425: 12,
 7058: 12,
 6341: 12,
 7057: 12,
 6309: 12,
 6379: 12,
 6426: 12,
 7144: 12,
 6427: 12,
 6428: 12,
 6429: 12,
 7110: 13,
 7015: 14,
 7108: 14,
 6243: 15,
 6930: 15,
 7065: 15,
 6068: 15,
 6906: 15,
 6913: 15,
 6927: 15,
 6925: 15,
 6924: 15,
 6923: 15,
 6908: 15,
 6247: 15,
 6276: 15,
 6246: 15,
 6910: 15,
 6912: 15,
 6245: 15,
 6915: 15,
 6928: 15,
 6279: 15,
 7021: 15,
 6250: 15,
 6257: 15,
 6191: 15,
 7042: 15,
 7040: 15,
 6189: 15,
 6262: 15,
 6254: 15,
 6253: 15,
 6252: 15,
 6051: 15,
 6185: 15,
 6268: 15,
 7025: 15,
 7023: 15,
 7022: 15,
 6301: 15,
 6270: 15,
 7019: 15,
 6272: 15,
 6273: 15,
 7014: 15,
 6275: 15,
 7061: 15,
 6251: 15,
 7008: 15,
 6249: 15,
 6904: 15,
 6310: 15,
 6235: 15,
 6302: 15,
 6315: 15,
 6316: 15,
 6321: 15,
 6322: 15,
 6327: 15,
 6503: 15,
 6328: 15,
 7127: 15,
 6329: 15,
 6168: 15,
 6711: 15,
 6334: 15,
 6336: 15,
 6338: 15,
 6127: 15,
 6340: 15,
 6343: 15,
 6344: 15,
 6345: 15,
 6347: 15,
 6389: 15,
 7147: 15,
 6366: 15,
 6335: 15,
 6199: 15,
 7124: 15,
 6232: 15,
 6303: 15,
 6304: 15,
 6305: 15,
 6752: 15,
 6306: 15,
 6234: 15,
 6233: 15,
 6747: 15,
 6746: 15,
 6745: 15,
 6231: 15,
 6230: 15,
 6228: 15,
 6255: 15,
 6735: 15,
 6734: 15,
 6733: 15,
 6311: 15,
 6728: 15,
 7045: 15,
 7122: 16,
 7123: 16,
 7095: 16,
 7094: 16,
 7136: 16,
 7135: 16,
 7134: 16,
 7092: 16,
 7090: 16,
 7133: 16,
 7132: 16,
 7131: 16,
 7130: 16,
 7091: 16,
 7129: 16,
 7096: 16,
 7128: 16,
 7093: 16,
 7101: 16,
 7005: 16,
 6710: 16,
 6726: 16,
 7002: 16,
 6716: 16,
 6162: 16,
 7006: 16,
 6917: 16,
 6210: 16,
 6736: 16,
 6422: 16,
 6313: 17,
 6724: 17,
 7054: 17,
 6402: 17,
 6375: 17,
 7010: 18,
 6420: 18,
 6089: 19,
 6222: 19,
 6200: 19,
 6223: 19,
 6094: 19,
 6091: 19,
 6009: 19,
 6224: 19,
 6227: 19,
 7036: 19,
 6198: 19,
 7113: 19,
 6097: 19,
 6098: 19,
 6225: 19,
 6102: 19,
 6095: 19,
 6743: 19,
 6195: 19,
 7003: 19,
 7028: 19,
 7026: 19,
 6065: 19,
 6066: 19,
 6107: 19,
 7071: 19,
 6100: 19,
 6907: 19,
 6081: 19,
 6280: 19,
 6193: 19,
 7076: 19,
 6196: 19,
 6241: 19,
 7059: 20,
 6706: 20,
 7056: 20,
 7143: 20,
 7145: 20,
 6715: 20,
 7103: 21,
 7104: 21,
 6714: 22,
 6115: 23,
 6718: 23,
 6263: 23,
 7102: 23,
 7013: 23,
 6712: 24,
 10002: 25,
 6401: 25,
 6349: 25,
 6350: 25,
 7052: 25,
 6921: 25,
 7068: 25,
 6377: 25,
 7070: 25,
 6086: 25,
 7050: 25,
 6748: 25,
 6016: 25,
 6088: 25,
 6741: 25,
 6732: 25,
 6727: 25,
 7114: 25,
 7049: 25,
 7053: 25,
 6403: 25,
 6418: 26,
 7100: 26,
 7107: 27,
 7106: 27,
 6414: 28,
 7141: 28,
 7055: 28,
 7034: 28,
 6029: 28,
 7082: 28,
 6406: 28,
 6415: 29,
 6416: 29,
 6354: 29,
 6363: 29}

In [12]:
bike_data_frame = pd.read_csv("OD_2018-07.csv")
bike_data_frame = bike_data_frame.sort_values(by=['start_station_code'])
print(bike_data_frame.head())
print (bike_data_frame.shape)

              start_date  start_station_code          end_date  \
849566  2018-07-28 22:03                4000  2018-07-28 22:43
784874  2018-07-26 21:28                4000  2018-07-26 21:56
795083  2018-07-27 09:25                4000  2018-07-27 09:30
768486  2018-07-26 14:35                4000  2018-07-26 15:05
556753  2018-07-18 19:24                4000  2018-07-18 19:34

        end_station_code  duration_sec  is_member
849566              6111          2350          1
784874              7067          1673          1
795083              6391           303          1
768486              7031          1805          0
556753              6701           570          0
(953031, 6)

In [13]:
bike_data_frame['pickup_cluster'] = bike_data_frame['start_station_code']\
                               .map(mydict) 
bike_data_frame['dropoff_cluster'] = bike_data_frame['end_station_code']\
                               .map(mydict) \

In [14]:
bike_data_frame.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,pickup_cluster,dropoff_cluster
849566,2018-07-28 22:03,4000,2018-07-28 22:43,6111,2350,1,8.0,8.0
784874,2018-07-26 21:28,4000,2018-07-26 21:56,7067,1673,1,8.0,8.0
795083,2018-07-27 09:25,4000,2018-07-27 09:30,6391,303,1,8.0,8.0
768486,2018-07-26 14:35,4000,2018-07-26 15:05,7031,1805,0,8.0,8.0
556753,2018-07-18 19:24,4000,2018-07-18 19:34,6701,570,0,8.0,8.0

In [15]:
# Feature engineer the hour and weekday of the start time and end time 
bike_data_frame['start_date'] = pd.to_datetime(bike_data_frame['start_date'], utc=True, format='%Y-%m-%d %H:%M')
bike_data_frame['end_date'] = pd.to_datetime(bike_data_frame['end_date'], utc=True, format='%Y-%m-%d %H:%M')
bike_data_frame['start_hour'] = bike_data_frame['start_date'].dt.hour
bike_data_frame['start_weekday'] = bike_data_frame['start_date'].dt.weekday
bike_data_frame['end_hour'] = bike_data_frame['end_date'].dt.hour
bike_data_frame['end_weekday'] = bike_data_frame['end_date'].dt.weekday
bike_data_frame['day_of_month'] = bike_data_frame['start_date'].dt.day
bike_data_frame.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,pickup_cluster,dropoff_cluster,start_hour,start_weekday,end_hour,end_weekday,day_of_month
849566,2018-07-28 22:03:00+00:00,4000,2018-07-28 22:43:00+00:00,6111,2350,1,8.0,8.0,22,5,22,5,28
784874,2018-07-26 21:28:00+00:00,4000,2018-07-26 21:56:00+00:00,7067,1673,1,8.0,8.0,21,3,21,3,26
795083,2018-07-27 09:25:00+00:00,4000,2018-07-27 09:30:00+00:00,6391,303,1,8.0,8.0,9,4,9,4,27
768486,2018-07-26 14:35:00+00:00,4000,2018-07-26 15:05:00+00:00,7031,1805,0,8.0,8.0,14,3,15,3,26
556753,2018-07-18 19:24:00+00:00,4000,2018-07-18 19:34:00+00:00,6701,570,0,8.0,8.0,19,2,19,2,18

In [16]:
# data filtering 
bike_data_frame = bike_data_frame[(bike_data_frame.start_hour>4) & (bike_data_frame.start_hour<24)]
bike_data_frame = bike_data_frame[(bike_data_frame.end_hour>4) & (bike_data_frame.end_hour<24)]
bike_data_frame = bike_data_frame[(bike_data_frame.duration_sec>0) & (bike_data_frame.duration_sec<7000)]
#bike_data_frame = bike_data_frame.drop(['start_date', 'end_date', 'is_member'], axis=1)

bike_data_frame.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,pickup_cluster,dropoff_cluster,start_hour,start_weekday,end_hour,end_weekday,day_of_month
849566,2018-07-28 22:03:00+00:00,4000,2018-07-28 22:43:00+00:00,6111,2350,1,8.0,8.0,22,5,22,5,28
784874,2018-07-26 21:28:00+00:00,4000,2018-07-26 21:56:00+00:00,7067,1673,1,8.0,8.0,21,3,21,3,26
795083,2018-07-27 09:25:00+00:00,4000,2018-07-27 09:30:00+00:00,6391,303,1,8.0,8.0,9,4,9,4,27
768486,2018-07-26 14:35:00+00:00,4000,2018-07-26 15:05:00+00:00,7031,1805,0,8.0,8.0,14,3,15,3,26
556753,2018-07-18 19:24:00+00:00,4000,2018-07-18 19:34:00+00:00,6701,570,0,8.0,8.0,19,2,19,2,18

In [17]:
start_loc = (bike_data_frame['start_station_code'].unique())
start_loc_mapping = dict(zip(start_loc, 
                                 range(0, len(start_loc) + 1)))

bike_data_frame['start_loc'] = bike_data_frame['start_station_code']\
                               .map(start_loc_mapping) \
                               .astype(int)
bike_data_frame['end_loc'] = bike_data_frame['end_station_code'] \
                               .map(start_loc_mapping) \
                               .astype(int)

pickup_cluster = (bike_data_frame['pickup_cluster'].unique())
cluster_mapping = dict(zip(pickup_cluster, 
                                 range(0, len(pickup_cluster)+1 )))

bike_data_frame['pcluster'] = bike_data_frame['pickup_cluster']\
                               .map(cluster_mapping ) \
                               .astype(int)
bike_data_frame['dcluster'] = bike_data_frame['dropoff_cluster'] \
                               .map(cluster_mapping ) \
                               .astype(int)
bike_data_frame.tail()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,pickup_cluster,dropoff_cluster,start_hour,start_weekday,end_hour,end_weekday,day_of_month,start_loc,end_loc,pcluster,dcluster
204390,2018-07-07 22:36:00+00:00,10002,2018-07-07 22:38:00+00:00,6349,160,1,25.0,25.0,22,5,22,5,7,546,306,3,3
866649,2018-07-29 14:40:00+00:00,10002,2018-07-29 14:59:00+00:00,6159,1154,0,25.0,8.0,14,6,14,6,29,546,152,3,0
236630,2018-07-09 07:45:00+00:00,10002,2018-07-09 07:49:00+00:00,6921,285,1,25.0,25.0,7,0,7,0,9,546,454,3,3
694073,2018-07-23 12:20:00+00:00,10002,2018-07-23 12:40:00+00:00,6052,1249,0,25.0,8.0,12,0,12,0,23,546,56,3,0
332334,2018-07-11 21:45:00+00:00,10002,2018-07-11 21:51:00+00:00,6727,370,1,25.0,25.0,21,2,21,2,11,546,413,3,3

In [28]:
#bike_data_frame.to_csv('bike_df_cluster.csv')

## Dataset 1: Cluster Gain

In [29]:
station_ID = []
gain_list = []
cluster_ID = []
day_of_month = []
hour_of_day = []

for i in range(0,32): # days of month 0-31
    for j in range(5,24): # hours of day 5 am - 11 pm
      #  for z in range(1,31): # pickup cluster 1 to 30
                new_frame = bike_data_frame[bike_data_frame['day_of_month'] == i]
                new_frame = new_frame[new_frame['start_hour'] == j]
              #  new_frame = new_frame[new_frame['pickup_cluster'] == z]

                n_gain = new_frame['pcluster'].value_counts(dropna=True, sort=True) #count unique values on the same row
                n_gain = -1*n_gain      
                p_gain = new_frame['dcluster'].value_counts(dropna=True, sort=True) 
                gain = pd.concat([p_gain, n_gain], axis=1)
                gain = gain.replace(np.nan, 0)
                tot_gain = gain['pcluster'] + gain['dcluster']
                tot_gain_ind = tot_gain.index.values


                for x in range(0,len(tot_gain)):
                   cluster_ID.append(tot_gain_ind[x])
                   gain_list.append(tot_gain.iloc[x])
                   day_of_month.append(i)
                   hour_of_day.append(j)
                #   cluster.append(z)

In [30]:
zippedList =  list(zip(cluster_ID, gain_list, day_of_month, hour_of_day))
dfObj = pd.DataFrame(zippedList, columns = ['cluster_id' , 'gain', 'day_of_month', 'hour_of_day']) 

dfObj = dfObj.sort_values(by=['cluster_id'])
dfObj

       cluster_id   gain  day_of_month  hour_of_day
0               0    8.0             1            5
8089            0   88.0            18           14
843             0   45.0             2           21
8064            0   55.0            18           13
8039            0   89.0            18           12
8014            0   92.0            18           11
7989            0  148.0            18           10
7963            0  305.0            18            9
7938            0  767.0            18            8
7912            0  395.0            18            7
7886            0   97.0            18            6
867             0   12.0             2           22
7867            0   32.0            18            5
7844            0  -30.0            17           23
7820            0    5.0            17           22
7795            0   43.0            17           21
7770            0  111.0            17           20
7744            0   79.0            17           19
889             0    1.0             2           23
7719            0   67.0            17           18
7694            0  -80.0            17           17
7669            0   33.0            17           16
7644            0   13.0            17           15
7619            0   69.0            17           14
8114            0   82.0            18           15
7594            0   94.0            17           13
8140            0  -23.0            18           16
8192            0   65.0            18           18
8682            0   47.0            19           19
8657            0   55.0            19           18
...           ...    ...           ...          ...
2057           25    0.0             5           13
9358           25    0.0            21            8
716            25    0.0             2           15
8996           25    1.0            20           12
2971           25    1.0             7           13
4883           25    1.0            11           15
2997           25    0.0             7           14
8707           25    1.0            19           19
313            25   -2.0             1           17
8732           25   -3.0            19           20
4857           25    3.0            11           14
11934          25    0.0            26           21
1863           25    1.0             5            5
8757           25    0.0            19           21
13587          25   -4.0            30           14
9022           25    1.0            20           13
1273           25    0.0             3           19
11908          25    1.0            26           20
13958          25    1.0            31           10
3048           25   -3.0             7           16
11883          25    0.0            26           19
4762           25   -2.0            11           10
11858          25    2.0            26           18
4737           25    2.0            11            9
8946           25   -3.0            20           10
3073           25   -5.0             7           17
11832          25   -3.0            26           17
11806          25    2.0            26           16
3022           25    3.0             7           15
6232           25   -2.0            14           13

[14286 rows x 4 columns]

In [31]:
df_x_cluster = dfObj.drop(['gain', 'hour_of_day'], axis=1)

df_y_cluster = dfObj.gain

In [32]:
y_cluster = np.array(df_y_cluster)
x_cluster = np.array(df_x_cluster)

print(x_cluster.shape, y_cluster.shape)

(14286, 2) (14286,)

In [33]:
x_train_cluster, x_test_cluster, y_train_cluster, y_test_cluster = train_test_split(x_cluster, y_cluster, random_state=5)

## Dataset 2: Station Gain

In [18]:
bike_data_frame = pd.read_csv("OD_2018-07.csv")
bike_data_frame = bike_data_frame.sort_values(by=['start_station_code'])
print(bike_data_frame.head())
print (bike_data_frame.shape)

              start_date  start_station_code          end_date  \
849566  2018-07-28 22:03                4000  2018-07-28 22:43
784874  2018-07-26 21:28                4000  2018-07-26 21:56
795083  2018-07-27 09:25                4000  2018-07-27 09:30
768486  2018-07-26 14:35                4000  2018-07-26 15:05
556753  2018-07-18 19:24                4000  2018-07-18 19:34

        end_station_code  duration_sec  is_member
849566              6111          2350          1
784874              7067          1673          1
795083              6391           303          1
768486              7031          1805          0
556753              6701           570          0
(953031, 6)

In [19]:
bike_data_frame['pickup_cluster'] = bike_data_frame['start_station_code']\
                               .map(mydict) 
bike_data_frame['dropoff_cluster'] = bike_data_frame['end_station_code']\
                               .map(mydict) \

bike_data_frame['start_date'] = pd.to_datetime(bike_data_frame['start_date'], utc=True, format='%Y-%m-%d %H:%M')
bike_data_frame['end_date'] = pd.to_datetime(bike_data_frame['end_date'], utc=True, format='%Y-%m-%d %H:%M')
bike_data_frame['start_hour'] = bike_data_frame['start_date'].dt.hour
bike_data_frame['start_weekday'] = bike_data_frame['start_date'].dt.weekday
bike_data_frame['end_hour'] = bike_data_frame['end_date'].dt.hour
bike_data_frame['end_weekday'] = bike_data_frame['end_date'].dt.weekday
bike_data_frame['day_of_month'] = bike_data_frame['start_date'].dt.day
bike_data_frame.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,pickup_cluster,dropoff_cluster,start_hour,start_weekday,end_hour,end_weekday,day_of_month
849566,2018-07-28 22:03:00+00:00,4000,2018-07-28 22:43:00+00:00,6111,2350,1,8.0,8.0,22,5,22,5,28
784874,2018-07-26 21:28:00+00:00,4000,2018-07-26 21:56:00+00:00,7067,1673,1,8.0,8.0,21,3,21,3,26
795083,2018-07-27 09:25:00+00:00,4000,2018-07-27 09:30:00+00:00,6391,303,1,8.0,8.0,9,4,9,4,27
768486,2018-07-26 14:35:00+00:00,4000,2018-07-26 15:05:00+00:00,7031,1805,0,8.0,8.0,14,3,15,3,26
556753,2018-07-18 19:24:00+00:00,4000,2018-07-18 19:34:00+00:00,6701,570,0,8.0,8.0,19,2,19,2,18

In [36]:
# data filtering 
bike_data_frame = bike_data_frame[(bike_data_frame.start_hour>4) & (bike_data_frame.start_hour<24)]
bike_data_frame = bike_data_frame[(bike_data_frame.end_hour>4) & (bike_data_frame.end_hour<24)]
bike_data_frame = bike_data_frame[(bike_data_frame.duration_sec>0) & (bike_data_frame.duration_sec<7000)]
#bike_data_frame = bike_data_frame.drop(['start_date', 'end_date', 'is_member'], axis=1)

bike_data_frame.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,pickup_cluster,dropoff_cluster,start_hour,start_weekday,end_hour,end_weekday,day_of_month
849566,2018-07-28 22:03:00+00:00,4000,2018-07-28 22:43:00+00:00,6111,2350,1,19.0,19.0,22,5,22,5,28
784874,2018-07-26 21:28:00+00:00,4000,2018-07-26 21:56:00+00:00,7067,1673,1,19.0,0.0,21,3,21,3,26
795083,2018-07-27 09:25:00+00:00,4000,2018-07-27 09:30:00+00:00,6391,303,1,19.0,19.0,9,4,9,4,27
768486,2018-07-26 14:35:00+00:00,4000,2018-07-26 15:05:00+00:00,7031,1805,0,19.0,0.0,14,3,15,3,26
556753,2018-07-18 19:24:00+00:00,4000,2018-07-18 19:34:00+00:00,6701,570,0,19.0,0.0,19,2,19,2,18

In [20]:
start_loc = (bike_data_frame['start_station_code'].unique())
start_loc_mapping = dict(zip(start_loc, 
                                 range(0, len(start_loc) + 1)))

bike_data_frame['start_loc'] = bike_data_frame['start_station_code']\
                               .map(start_loc_mapping) \
                               .astype(int)
bike_data_frame['end_loc'] = bike_data_frame['end_station_code'] \
                               .map(start_loc_mapping) \
                               .astype(int)
bike_data_frame.tail()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,pickup_cluster,dropoff_cluster,start_hour,start_weekday,end_hour,end_weekday,day_of_month,start_loc,end_loc
204390,2018-07-07 22:36:00+00:00,10002,2018-07-07 22:38:00+00:00,6349,160,1,25.0,25.0,22,5,22,5,7,546,306
866649,2018-07-29 14:40:00+00:00,10002,2018-07-29 14:59:00+00:00,6159,1154,0,25.0,8.0,14,6,14,6,29,546,152
236630,2018-07-09 07:45:00+00:00,10002,2018-07-09 07:49:00+00:00,6921,285,1,25.0,25.0,7,0,7,0,9,546,454
694073,2018-07-23 12:20:00+00:00,10002,2018-07-23 12:40:00+00:00,6052,1249,0,25.0,8.0,12,0,12,0,23,546,56
332334,2018-07-11 21:45:00+00:00,10002,2018-07-11 21:51:00+00:00,6727,370,1,25.0,25.0,21,2,21,2,11,546,413

In [21]:
bike_data_frame = bike_data_frame.drop(['start_date', 'end_date', 'is_member'], axis=1)

In [39]:
station_ID = []
gain_list = []
day_of_month = []
hour_of_day = []

for i in range(0,32): # days of month 0-31
    for j in range(5,24): # hours of day 5 am - 11 pm
        new_frame = bike_data_frame[bike_data_frame['day_of_month'] == i]
        new_frame = new_frame[new_frame['start_hour'] == j]
        
        n_gain = new_frame['start_loc'].value_counts(dropna=True, sort=True)
        n_gain = -1*n_gain      
        p_gain = new_frame['end_loc'].value_counts(dropna=True, sort=True)
        gain = pd.concat([p_gain, n_gain], axis=1)
        gain = gain.replace(np.nan, 0)
        tot_gain = gain['end_loc'] + gain['start_loc']
        tot_gain_ind = tot_gain.index.values
        
        for x in range(0,len(tot_gain)):
            station_ID.append(tot_gain_ind[x])
            gain_list.append(tot_gain.iloc[x])
            day_of_month.append(i)
            hour_of_day.append(j)

#print(gain.to_string())
#print(p_gain.to_string())
#print(n_gain.to_string())
#print(negative_gain)
#station_ID = np.array(negative_gain)
#print(station_ID)

zippedList =  list(zip(station_ID, gain_list, day_of_month, hour_of_day))
dfObj = pd.DataFrame(zippedList, columns = ['station_id' , 'gain', 'dom', 'hod']) 
dfObj.tail()

        station_id  gain  dom  hod
262805         539   3.0   31   23
262806         541   1.0   31   23
262807         543   1.0   31   23
262808         544   1.0   31   23
262809         546   1.0   31   23

In [23]:
df_x = bike_data_frame.drop('end_station_code', axis=1)
df_y = bike_data_frame.end_station_code

y = np.array(df_y)
x = np.array(df_x)

In [40]:
df_x = dfObj.drop(['gain'], axis=1)
df_y = dfObj.gain

# turn x and y into arrays
y = np.array(df_y)
x = np.array(df_x)

print(x.shape, y.shape)

(262810, 3) (262810,)

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=5)
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(714773, 11) (238258, 11)
(714773,) (238258,)

## Neural Network Models for Station Gain

## Model 1

In [26]:
# NEURAL NETWORK
# ----------------------------------------------------
n_col = df_x.shape[1]
print(n_col)

import keras
from keras.layers import BatchNormalization
from keras.layers.advanced_activations import LeakyReLU
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras import optimizers

import keras.backend as K

def rmse (y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

def model() :   #Created a Model using Keras
    model = keras.models.Sequential()
    model.add(Dropout(0.5,input_shape=(n_col,)))
    model.add(BatchNormalization())
    model.add(Dense(512,activation='relu'))#512 neurons in input layer
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(256,activation='relu')) #256 neurons in hidden layer
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(128, activation='relu')) # 1 neuron in output layer
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(1)) #256 neurons in hidden layer
    
    nadam = optimizers.Nadam(lr=0.002, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.004)
    adadelta =optimizers.Adadelta(lr=1.0, rho=0.95, epsilon=None, decay=0.0)
    adgrad = optimizers.Adagrad(lr=0.001, epsilon=None, decay=0.0)
    rms = optimizers.RMSprop(lr=0.001, rho=0.9, epsilon=None, decay=0.0)
    
    
    model.compile(optimizer=nadam,loss='mse', metrics=[rmse])
    return model

model = model()
estimator = model.fit(x=x_train,y=y_train, batch_size=1024, epochs=1, 
                    verbose=1, validation_data=(x, y), 
                    shuffle=True)

11
Train on 714773 samples, validate on 953031 samples
Epoch 1/1
714773/714773 [==============================] - 62s 87us/step - loss: nan - rmse: nan - val_loss: nan - val_rmse: nan

## Model 2

In [27]:
n_col = df_x.shape[1]
print(n_col)

import keras
from keras.layers import BatchNormalization
from keras.layers.advanced_activations import LeakyReLU
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation

import keras.backend as K

def rmse (y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

def model() :   #Created a Model using Keras
    model = keras.models.Sequential()
    model.add(Dropout(0.5,input_shape=(n_col,)))
    model.add(BatchNormalization())
    model.add(Dense(1024,activation='relu'))#512 neurons in input layer
    model.add(Dropout(0.5))
    model.add(Dense(512,activation='relu'))#512 neurons in input layer
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(256,activation='relu')) #256 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(128,activation='relu'))  # 128 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(64,activation='relu'))   # 64 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(32,activation='relu'))   # 32 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(16,activation='relu')) # 16 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(8,activation='relu')) # 8 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(1)) # 1 neuron in output layer
    
    nadam = optimizers.Nadam(lr=0.002, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.004)
    #adadelta =optimizers.Adadelta(lr=1.0, rho=0.95, epsilon=None, decay=0.0)
    #adgrad = optimizers.Adagrad(lr=0.001, epsilon=None, decay=0.0)
    #rms = optimizers.RMSprop(lr=0.001, rho=0.9, epsilon=None, decay=0.0)
    
    #sgd = optimizers.SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True,clipnorm=0.5)

    model.compile(optimizer=nadam,loss='mse', metrics=[rmse])
    return model


model = model()
estimator = model.fit(x=x_train,y=y_train, batch_size=1024, epochs=1, 
                    verbose=1, validation_data=(x, y), 
                    shuffle=True)

11
Train on 714773 samples, validate on 953031 samples
Epoch 1/1
 79872/714773 [==>...........................] - ETA: 2:07 - loss: nan - rmse: nan

KeyboardInterrupt:

## Model 3

In [ ]:
n_col = df_x.shape[1]
print(n_col)

#x_train=x_train.reshape(x_train.shape[0], 1, x_train.shape[1])
#x_test=x_test.reshape(x_test.shape[0], 1, x_test.shape[1])

import keras
from keras.layers import BatchNormalization
from keras.layers.advanced_activations import LeakyReLU
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras import optimizers

import keras.backend as K

def rmse (y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

def model() :   #Created a Model using Keras
    model = keras.models.Sequential()
    model.add(Dropout(0.5,input_shape=(n_col, )))
    model.add(BatchNormalization())
    model.add(Dense(1024,activation='relu'))#512 neurons in input layer
    model.add(Dropout(0.5))
    model.add(Dense(512,activation='relu'))#512 neurons in input layer
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(256,activation='relu')) #256 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(128,activation='relu'))  # 128 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(64,activation='relu'))   # 64 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(32,activation='relu'))   # 32 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(16,activation='relu')) # 16 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(8,activation='relu')) # 8 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(1)) # 1 neuron in output layer
    
    nadam = optimizers.Nadam(lr=0.004, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.004)
    adadelta =optimizers.Adadelta(lr=1.0, rho=0.95, epsilon=None, decay=0.0)
    adgrad = optimizers.Adagrad(lr=0.001, epsilon=None, decay=0.0)
    rms = optimizers.RMSprop(lr=0.01, rho=0.9, epsilon=None, decay=0.0)
    
    #sgd = optimizers.SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True,clipnorm=0.5)

    model.compile(optimizer=rms,loss='mse', metrics=[rmse])
    return model


model = model()
estimator = model.fit(x=x_train,y=y_train, batch_size=2048, epochs=3, 
                    verbose=1, validation_data=(x_test, y_test),  shuffle=True)

In [ ]:
testPredict= model.predict(x_test)

fig, ax = plt.subplots()
ax.scatter(y_test, testPredict)
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'k--', lw=4)
ax.set_xlabel('Measured')
ax.set_ylabel('Predicted')
plt.show()

## RNN

## Model 1

In [28]:
n_col_x = df_x.shape
n_col_y = df_y.shape

print(n_col_x)

(953031, 11)

In [29]:
from keras.models import Sequential
from keras.layers import Dense, SimpleRNN

x_train=x_train.reshape(x_train.shape[0], 1, x_train.shape[1])
x_test=x_test.reshape(x_test.shape[0], 1, x_test.shape[1])

print (x_train.shape)
print(x_test.shape)

model = Sequential()
model.add(SimpleRNN(units=64, input_shape=(x_train.shape[1:]), activation="relu"))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=[rmse])
model.summary()

model.fit(x_train,y_train, epochs=1, batch_size=16, verbose=2)
trainPredict = model.predict(x_train)
testPredict= model.predict(x_test)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = (x_train, y_train, verbose=0)
testScore = model.evaluate(x_test, testPredict, verbose=0)
print(trainScore)
print("test score:", testScore)

SyntaxError: invalid syntax (<ipython-input-29-28f2214870f3>, line 22)

## Model 2

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, SimpleRNN


x_train=x_train.reshape(x_train.shape[0], 1,x_train.shape[1])
print (x_train.shape)
print(x_test.shape)
x_test=x_test.reshape(x_test.shape[0], 1, x_test.shape[1])

model = Sequential()
model.add(SimpleRNN(units=128, input_shape=(x_train.shape[1:]), activation="relu"))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=[rmse])
model.summary()

model.fit(x_train,y_train, epochs=4, batch_size=16, verbose=2)
trainPredict = model.predict(x_train)
testPredict= model.predict(x_test)

predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train, y_train, verbose=0)
testScore = model.evaluate(x_test, testPredict, verbose=0)

print("train score:",trainScore)
print("test score:", testScore)

print(x_test.shape)
print(testPredict.shape)

(714773, 1, 11)
(238258, 11)
Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
simple_rnn_2 (SimpleRNN)     (None, 128)               17920
_________________________________________________________________
dense_18 (Dense)             (None, 8)                 1032
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 9
_________________________________________________________________
dense_20 (Dense)             (None, 8)                 16
_________________________________________________________________
dense_21 (Dense)             (None, 1)                 9
_________________________________________________________________
dense_22 (Dense)             (None, 8)                 16
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 9
_________________________________________________________________
dense_24 (Dense)             (None, 8)                 16
_________________________________________________________________
dense_25 (Dense)             (None, 1)                 9
=================================================================
Total params: 19,036
Trainable params: 19,036
Non-trainable params: 0
_________________________________________________________________
Epoch 1/4
 - 162s - loss: nan - rmse: nan
Epoch 2/4

## Model 3

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, SimpleRNN, Dropout

#x_train=x_train.reshape(x_train.shape[0], 1,x_train.shape[1])
#x_test=x_test.reshape(x_test.shape[0], 1, x_test.shape[1])
print (x_train.shape)
print(x_test.shape)

model = Sequential()
model.add(SimpleRNN(units=128, input_shape=(x_train.shape[1:]), activation="relu"))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dropout(0.5))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dropout(0.5))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dropout(0.5))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dropout(0.5))
model.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=[rmse])
model.summary()

model.fit(x_train,y_train, epochs=1, batch_size=16, verbose=2)
trainPredict = model.predict(x_train)
testPredict= model.predict(x_test)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train, y_train, verbose=0)
testScore = model.evaluate(x_test, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

print(x_test.shape)
print(testPredict.shape)

In [ ]:
fig, ax = plt.subplots()
ax.scatter(y_test, testPredict)
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'k--', lw=4)
ax.set_xlabel('Measured')
ax.set_ylabel('Predicted')
plt.show()

In [ ]:
print (testPredict)

## LSTM

In [ ]:
from keras.layers import LSTM
from keras.models import Sequential
from keras.layers import Dense 
import keras.backend as K
from keras.callbacks import EarlyStopping

In [ ]:
K.clear_session() 
model = Sequential() # Sequential Model
model.add(LSTM(20, input_shape=(x_train.shape[1:]))) # (timestep, feature)
model.add(Dense(1)) # output = 1
model.compile(loss='mean_squared_error', optimizer='adam', metrics=[rmse])
model.summary()
early_stop = EarlyStopping(monitor='loss', patience=1, verbose=1)
model.fit(x_train, y_train, epochs=5, batch_size=30, verbose=1, callbacks=[early_stop])
              
trainPredict = model.predict(x_train)
testPredict= model.predict(x_test)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train, y_train, verbose=0)
testScore = model.evaluate(x_test, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

In [ ]:
#x_train=x_train.reshape(x_train.shape[0], 1,x_train.shape[1])
#x_test=x_test.reshape(x_test.shape[0], 1, x_test.shape[1])
print (x_train.shape)
print(x_test.shape)

model1 = Sequential() # Sequential Model
model1.add(LSTM(20, input_shape=(x_train.shape[1:]))) # (timestep, feature)
model1.add(Dense(1)) # output = 1
# Fully connected layer
model1.add(Dense(1, activation='relu'))
# Dropout for regularization
model1.add(Dropout(0.5))
model1.add(Dense(1, activation='relu'))
# Dropout for regularization
model1.add(Dropout(0.5))
model1.compile(loss='mean_squared_error', optimizer='adam', metrics=[rmse])

model1.summary()
early_stop = EarlyStopping(monitor='loss', patience=1, verbose=1)

model.fit(x_train, y_train, epochs=5, batch_size=30, verbose=1, callbacks=[early_stop])
              
trainPredict = model.predict(x_train)
testPredict= model.predict(x_test)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train, y_train, verbose=0)
testScore = model.evaluate(x_test, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

In [ ]:
#RMSprop optimizer
from keras.optimizers import RMSprop

model1 = Sequential()
model1.add(LSTM(20, input_shape=(x_train.shape[1:]))) 
model1.add(Dense(1))
model1.add(Dense(1, activation='relu'))
model1.add(Dropout(0.5))
model1.add(Dense(1, activation='relu'))
model1.add(Dropout(0.5))


rmsprop = RMSprop(lr=0.00001, rho=0.9, epsilon=1e-08)
model1.compile(loss='mean_squared_error', optimizer=rmsprop, metrics=[rmse] )

model1.summary()
early_stop = EarlyStopping(monitor='loss', patience=1, verbose=1)

model.fit(x_train, y_train, epochs=5, batch_size=30, verbose=1, callbacks=[early_stop])
              
trainPredict = model.predict(x_train)
testPredict= model.predict(x_test)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train, y_train, verbose=0)
testScore = model.evaluate(x_test, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

In [ ]:
#RMSprop optimizer
from keras.optimizers import RMSprop

model1 = Sequential() # Sequential Model
model1.add(LSTM(100, input_shape=(x_train.shape[1:]))) # (timestep, feature)
model1.add(Dense(1)) # output = 1
model1.add(Dense(1, activation='relu'))
model1.add(Dropout(0.5))
model1.add(Dense(1, activation='relu'))
model1.add(Dropout(0.5))

rmsprop = RMSprop(lr=10, rho=9, epsilon=1e-08)
model1.compile(loss='mean_squared_error', optimizer=rmsprop, metrics=[rmse] )
model1.summary()
early_stop = EarlyStopping(monitor='loss', patience=1, verbose=1)

model.fit(x_train, y_train, epochs=2, batch_size=30, verbose=1, callbacks=[early_stop])
              
trainPredict = model.predict(x_train)
testPredict= model.predict(x_test)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train, y_train, verbose=0)
testScore = model.evaluate(x_test, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

In [ ]:
#ADAM optimizer
from keras.optimizers import Adam

model = Sequential()
model.add(LSTM(100, input_shape=(x_train.shape[1:]))) 
model.add(Dense(1)) 
model.add(Dense(1, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='relu'))
model.add(Dropout(0.5))

adam = keras.optimizers.Adam( lr=10, beta_1=9, beta_2=0.999, amsgrad=False)
model.compile(loss='mean_squared_error', optimizer=adam, metrics=[rmse] )

model.summary()
early_stop = EarlyStopping(monitor='loss', patience=1, verbose=1)

model.fit(x_train, y_train, epochs=2, batch_size=30, verbose=1, callbacks=[early_stop])
              
trainPredict = model.predict(x_train)
testPredict= model.predict(x_test)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train, y_train, verbose=0)
testScore = model.evaluate(x_test, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

In [ ]:
#ADAM optimizer
print (x_train.shape)
from keras.optimizers import Adam

model1 = Sequential() # Sequential Model
model1.add(LSTM(100, input_shape=(x_train.shape[1:]))) # (timestep, feature)
model1.add(Dense(1)) # output = 1
model1.add(Dense(1, activation='tanh'))
model1.add(Dropout(0.5))
model1.add(Dense(1, activation='tanh'))
model1.add(Dropout(0.5))
model1.add(Dense(1)) # output = 1
model1.add(Dense(1, activation='tanh'))
model1.add(Dropout(0.5))
model1.add(Dense(1, activation='tanh'))
model1.add(Dropout(0.5))


adam = keras.optimizers.Adam( lr=0.001, beta_1=0.9, beta_2=0.999, amsgrad=False)
rms = optimizers.RMSprop(lr=0.001, rho=0.9, epsilon=None, decay=0.0)
model1.compile(loss='mean_squared_error', optimizer=rms, metrics=[rmse])

model1.summary()
early_stop = EarlyStopping(monitor='loss', patience=1, verbose=1)

model1.fit(x_train, y_train, epochs=10, batch_size=30, verbose=1, callbacks=[early_stop])
              
trainPredict = model1.predict(x_train)
testPredict= model1.predict(x_test)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model1.evaluate(x_train, y_train, verbose=0)
testScore = model1.evaluate(x_test, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

In [ ]:
nadam = optimizers.Nadam(lr=0.002, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.004)
adadelta =optimizers.Adadelta(lr=1.0, rho=0.95, epsilon=None, decay=0.0)
adgrad = optimizers.Adagrad(lr=0.001, epsilon=None, decay=0.0)
rms = optimizers.RMSprop(lr=0.001, rho=0.9, epsilon=None, decay=0.0)

## Neural Network Models for Cluster Gain

## DNN

In [72]:
# NEURAL NETWORK
# ----------------------------------------------------
n_col = df_x_cluster.shape[1]
print(n_col)

import keras
from keras.layers import BatchNormalization
from keras.layers.advanced_activations import LeakyReLU
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras import optimizers

import keras.backend as K

def rmse (y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

def model() :   #Created a Model using Keras
    model = keras.models.Sequential()
    model.add(Dropout(0.5,input_shape=(n_col,)))
    model.add(BatchNormalization())
    model.add(Dense(512,activation='relu'))
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(256,activation='relu')) 
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(128, activation='relu'))
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(1)) 
    
    nadam = optimizers.Nadam(lr=0.002, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.004)
    adadelta =optimizers.Adadelta(lr=1.0, rho=0.95, epsilon=None, decay=0.0)
    adgrad = optimizers.Adagrad(lr=0.001, epsilon=None, decay=0.0)
    rms = optimizers.RMSprop(lr=0.001, rho=0.9, epsilon=None, decay=0.0)
    
    
    model.compile(optimizer=nadam,loss='mse', metrics=[rmse])
    return model

model = model()
#estimator = model.fit(x=x_train_cluster,y=y_train_cluster, batch_size=1024, epochs=1, 
#                    verbose=1, validation_data=(x_cluster, y_cluster), 
#                    shuffle=True)
estimator = model.fit(x=x_train_cluster,y=y_train_cluster, batch_size=1024, epochs=1, 
                    verbose=1, validation_data=(x_cluster, y_cluster), 
                    shuffle=True)
#model.fit(x_train_cluster,y_train_cluster, epochs=3, batch_size=16, verbose=2)
#trainPredict = model.predict(x_test_cluster)

2
Train on 10603 samples, validate on 14138 samples
Epoch 1/1
10603/10603 [==============================] - 6s 560us/step - loss: 609.8138 - rmse: 9.8448 - val_loss: 662.8124 - val_rmse: 10.0235

In [73]:
# NEURAL NETWORK
# ----------------------------------------------------
n_col = df_x_cluster.shape[1]
print(n_col)

import keras
from keras.layers import BatchNormalization
from keras.layers.advanced_activations import LeakyReLU
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras import optimizers

import keras.backend as K

def rmse (y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

def model() :   #Created a Model using Keras
    model = keras.models.Sequential()
    model.add(Dropout(0.5,input_shape=(n_col,)))
    model.add(BatchNormalization())
    model.add(Dense(512,activation='relu'))
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(256,activation='relu')) 
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(128, activation='relu')) 
    model.add(Dropout(0.5))
    model.add(BatchNormalization())
    model.add(Dense(1)) 
    
    nadam = optimizers.Nadam(lr=0.002, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.004)
    adadelta =optimizers.Adadelta(lr=1.0, rho=0.95, epsilon=None, decay=0.0)
    adgrad = optimizers.Adagrad(lr=0.001, epsilon=None, decay=0.0)
    rms = optimizers.RMSprop(lr=0.001, rho=0.9, epsilon=None, decay=0.0)
    
    
    model.compile(optimizer=nadam,loss='mse', metrics=[rmse])
    return model

model = model()
estimator = model.fit(x=x_train_cluster,y=y_train_cluster, batch_size=2048, epochs=3, 
                    verbose=1, validation_data=(x_cluster, y_cluster), 
                    shuffle=True)

2
Train on 10603 samples, validate on 14138 samples
Epoch 1/3
10603/10603 [==============================] - 5s 513us/step - loss: 610.0094 - rmse: 9.7812 - val_loss: 662.8253 - val_rmse: 9.9179
Epoch 2/3
10603/10603 [==============================] - 1s 70us/step - loss: 607.1696 - rmse: 9.7851 - val_loss: 662.9395 - val_rmse: 10.1681
Epoch 3/3
10603/10603 [==============================] - 1s 64us/step - loss: 606.8375 - rmse: 9.8030 - val_loss: 665.4997 - val_rmse: 10.6086

## RNN

In [48]:
from keras.models import Sequential
from keras.layers import Dense, SimpleRNN, Dropout

x_train_cluster=x_train_cluster.reshape(x_train_cluster.shape[0], 1,x_train_cluster.shape[1])
x_test_cluster=x_test_cluster.reshape(x_test_cluster.shape[0], 1, x_test_cluster.shape[1])
print (x_train_cluster.shape)
print(x_test_cluster.shape)

model = Sequential()
model.add(SimpleRNN(units=128, input_shape=(x_train_cluster.shape[1:]), activation="relu"))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dropout(0.5))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dropout(0.5))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dropout(0.5))
model.add(Dense(8, activation="relu")) 
model.add(Dense(1))
model.add(Dropout(0.5))
model.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=[rmse])
model.summary()

model.fit(x_train_cluster,y_train_cluster, epochs=3, batch_size=16, verbose=2)
trainPredict = model.predict(x_train_cluster)
testPredict= model.predict(x_test_cluster)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train_cluster, y_train_cluster, verbose=0)
testScore = model.evaluate(x_test_cluster, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

print(x_test_cluster.shape)
print(testPredict.shape)

(10603, 1, 2)
(3535, 1, 2)
Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
simple_rnn_2 (SimpleRNN)     (None, 128)               16768
_________________________________________________________________
dense_24 (Dense)             (None, 8)                 1032
_________________________________________________________________
dense_25 (Dense)             (None, 1)                 9
_________________________________________________________________
dropout_19 (Dropout)         (None, 1)                 0
_________________________________________________________________
dense_26 (Dense)             (None, 8)                 16
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 9
_________________________________________________________________
dropout_20 (Dropout)         (None, 1)                 0
_________________________________________________________________
dense_28 (Dense)             (None, 8)                 16
_________________________________________________________________
dense_29 (Dense)             (None, 1)                 9
_________________________________________________________________
dropout_21 (Dropout)         (None, 1)                 0
_________________________________________________________________
dense_30 (Dense)             (None, 8)                 16
_________________________________________________________________
dense_31 (Dense)             (None, 1)                 9
_________________________________________________________________
dropout_22 (Dropout)         (None, 1)                 0
=================================================================
Total params: 17,884
Trainable params: 17,884
Non-trainable params: 0
_________________________________________________________________
Epoch 1/3
 - 4s - loss: 607.9940 - rmse: 9.6074
Epoch 2/3
 - 2s - loss: 607.8846 - rmse: 9.6111
Epoch 3/3
 - 3s - loss: 607.8540 - rmse: 9.6180
train score: [607.8633197142944, 9.614990598737412]
test score: [0.0, 0.0]
(3535, 1, 2)
(3535, 1)

## LSTM

In [35]:
#ADAM optimizer
from keras.optimizers import Adam
from keras.layers import LSTM
from keras.models import Sequential
from keras.layers import Dense 
import keras.backend as K
from keras.callbacks import EarlyStopping

#x_train_cluster=x_train_cluster.reshape(x_train_cluster.shape[0], 1,x_train_cluster.shape[1])
#x_test_cluster=x_test_cluster.reshape(x_test_cluster.shape[0], 1, x_test_cluster.shape[1])
print (x_train_cluster.shape)
print(x_test_cluster.shape)

model = Sequential()
model.add(LSTM(100, input_shape=(x_train_cluster.shape[1:]))) 
model.add(Dense(1)) 
model.add(Dense(1, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='relu'))
model.add(Dropout(0.5))

adam = keras.optimizers.Adam( lr=10, beta_1=9, beta_2=0.999, amsgrad=False)
model.compile(loss='mean_squared_error', optimizer=adam, metrics=[rmse] )

model.summary()
early_stop = EarlyStopping(monitor='loss', patience=1, verbose=1)

model.fit(x_train_cluster, y_train_cluster, epochs=2, batch_size=30, verbose=1, callbacks=[early_stop])
              
trainPredict = model.predict(x_train_cluster)
testPredict= model.predict(x_test_cluster)
predicted=np.concatenate((trainPredict,testPredict),axis=0)

trainScore = model.evaluate(x_train_cluster, y_train_cluster, verbose=0)
testScore = model.evaluate(x_test_cluster, testPredict, verbose=0)
print("train score:",trainScore)
print("test score:", testScore)

(10603, 1, 2)
(3535, 1, 2)
Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 100)               41200
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 101
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 2
_________________________________________________________________
dropout_13 (Dropout)         (None, 1)                 0
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 2
_________________________________________________________________
dropout_14 (Dropout)         (None, 1)                 0
=================================================================
Total params: 41,305
Trainable params: 41,305
Non-trainable params: 0
_________________________________________________________________
WARNING:tensorflow:From /usr/local/lib/python3.7/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/2
10603/10603 [==============================] - 4s 357us/step - loss: 607.8677 - rmse: 9.6004
Epoch 2/2
10603/10603 [==============================] - 2s 215us/step - loss: 607.8677 - rmse: 9.6004
train score: [607.8676789645417, 9.600396047748845]
test score: [0.0, 0.0]